.list-container {
    margin: 40px 0;
    border-top: 1px solid #00000021;

    .list-item {
      display: inline-flex;
      padding: 12px;
      box-sizing: border-box;
      width: 100%;
      border-bottom: 1px solid #0000000f;
      background: #a098980a;
      cursor: pointer;

      &:hover {
        background: #0000001f;
      }

      &.unread {
        font-weight: bold;
        background: #a098980a;
      }

      .list-check {
        width: 5%;
      }

      input[type="checkbox"] {
        width: 20px;
        height: 20px;
      }

      .list-name {
        width: 25%;
      }

      .list-subject {
        width: 60%;
      }

      .list-time {
        width: 10%;
      }
    }
  }