.mail-list-container {
  .list-header {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 20px;
    justify-content: space-between;

    .list-title {
      font-size: 24px;
    }

    .list-icon {
      display: flex;
      flex-direction: row;
      align-items: center;

      .icons {

        input {
          padding: 0;
          height: 23px;
        }
      }

      .search {

        button {
          background-color: #00A89D;
          border: 1px solid #00A89D;
          color: white;
          font-size: 15px;
          cursor: pointer;
        }
      }
    }
  }

  .list-menu {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    box-sizing: border-box;
    font-size: 15px;

    .left-menu {
      display: inline-flex;
      width: 91%;
      float: left;

      .icon {
        margin: 0 5px;
        padding: 0 10px;
        border: 1px solid #00000021;
        border-radius: 3px;
        cursor: pointer;
      }
    }

    .right-menu {
      display: inline-flex;
      width: 8%;
      float: right;

      .icon {
        margin: 0 5px;
        padding: 0 10px;
        border: 1px solid #00000021;
        border-radius: 3px;
      }
    }
  }

  .list-container {
    margin: 40px 0;
    border-top: 1px solid #00000021;

    .list-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 12px 10px;
      box-sizing: border-box;
      border-bottom: 1px solid #0000000f;
      background: #a098980a;
      cursor: pointer;

      .list-content {
        display: flex;
        flex-direction: row;
        display: flex;
        width: 95%;
        box-sizing: border-box;
        justify-content: center;
      }

      &:hover {
        background: #0000001f;
      }

      &.unread {
        font-weight: bold;
        background: #a098980a;
      }

      .list-check {
        width: 5%;
      }

      input[type="checkbox"] {
        width: 20px;
        height: 20px;
      }

      .list-name {
        width: 25%;
      }

      .list-subject {
        width: 58%;
      }

      .list-time {
        width: 12%;
      }
    }
  }
}
