<div class="nav-container">
  <div class="nav-bg"></div>
  <div class="nav-icons">
    <div class="icon">
      <fa-icon [icon]="faIcons.faThLarge"></fa-icon>
    </div>
    <div class="nav-text">Dashboard</div>
  </div>
  <div class="nav-icons">
    <div class="icon">
      <fa-icon [icon]="faIcons.faChartArea"></fa-icon>
    </div>
    <div class="nav-text">Graph</div>
  </div>
  <div class="nav-icons">
    <div class="icon">
      <fa-icon [icon]="faIcons.faChartPie"></fa-icon>
    </div>
    <div class="nav-text">Metrics</div>
  </div>
  <div class="nav-icons">
    <div class="icon">
      <fa-icon [icon]="faIcons.faEnvelope"></fa-icon>
    </div>
    <div class="nav-text">Mail</div>
  </div>
  <div class="nav-icons">
    <div class="icon">
      <fa-icon [icon]="faIcons.faCubes"></fa-icon>
    </div>
    <div class="nav-text">Widgets</div>
  </div>
  <div class="nav-icons">
    <div class="icon">
      <fa-icon [icon]="faIcons.faDiceD20"></fa-icon>
    </div>
    <div class="nav-text">Forms</div>
  </div>
  <div class="nav-icons">
    <div class="icon">
      <fa-icon [icon]="faIcons.faDesktop"></fa-icon>
    </div>
    <div class="nav-text">Devices</div>
  </div>
  <div class="nav-icons">
    <div class="icon">
      <fa-icon [icon]="faIcons.faGlobe"></fa-icon>
    </div>
    <div class="nav-text">Connections</div>
  </div>
  <div class="nav-icons">
    <div class="icon">
      <fa-icon [icon]="faIcons.faLaptop"></fa-icon>
    </div>
    <div class="nav-text">Applications</div>
  </div>
  <div class="nav-icons">
    <div class="icon">
      <fa-icon [icon]="faIcons.faCog"></fa-icon>
    </div>
    <div class="nav-text">Settings</div>
  </div>
</div>
