.nav-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: baseline;
  width: 90px;
  min-width: 90px;
  max-width: 280px;
  height: 100%;
  background: black;
  overflow:hidden;
  color: white;

  &:hover {
    width: 280px;
    .nav-icons {
      width: 280px;
    }
  }


  .nav-icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 90px;
    cursor: pointer;

    &:hover {
      background: #1e1c1cad;
    }

    .nav-logo {
      font-size: 30px;
      font-weight: bold;
    }

    .icon {
      font-size: 20px;
      padding: 20px 36px;
    }
  }

}
