.nav-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: baseline;
  width: 90px;
  min-width: 90px;
  max-width: 280px;
  height: 100%;
  background: black;
  overflow:hidden;
  color: white;

  &:hover {
    width: 280px;

    .nav-bg {
      width: 280px;
      z-index: 1;
    }
  }

  .nav-bg {
    background: black;
    z-index: 2;
    width: 90px;
    box-sizing: border-box;
    background-size: cover;
  }



  .nav-icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 90px;

    .nav-logo {
      font-size: 30px;
      font-weight: bold;
    }

    .icon {
      font-size: 20px;
      padding: 20px 36px;
    }
    .nav-text {
      width: 0px
    }
  }



}
