<div class="nav-container">
    <div class="nav-logo">
        IN+
    </div>
    <div class="nav-icons">
      <fa-icon [icon]="faIcons.faEnvelope"></fa-icon>
    </div>
    <div class="nav-icons">
        <fa-icon [icon]="faIcons.faChartArea"></fa-icon>
      </div>
      <div class="nav-icons">
        <fa-icon [icon]="faIcons.faChartPie"></fa-icon>
      </div>
      <div class="nav-icons">
        <fa-icon [icon]="faIcons.faCog"></fa-icon>
      </div>
      <div class="nav-icons">
        <fa-icon [icon]="faIcons.faCubes"></fa-icon>
      </div>
      <div class="nav-icons">
        <fa-icon [icon]="faIcons.faDiceD20"></fa-icon>
      </div>
      <div class="nav-icons">
        <fa-icon [icon]="faIcons.faDesktop"></fa-icon>
      </div>
      <div class="nav-icons">
        <fa-icon [icon]="faIcons.faGlobe"></fa-icon>
      </div>
      <div class="nav-icons">
        <fa-icon [icon]="faIcons.faKeyboard"></fa-icon>
      </div>
      <div class="nav-icons">
        <fa-icon [icon]="faIcons.faLaptop"></fa-icon>
      </div>
</div>