<div class="nav-container">
  <div class="nav-icons">
    <div class="nav-logo">IN+</div>
  </div>
  <div class="nav-icons">
    <fa-icon [icon]="faIcons.faThLarge"></fa-icon>
    <span class="nav-text">Dashboard</span>
  </div>
  <div class="nav-icons">
    <fa-icon [icon]="faIcons.faChartArea"></fa-icon>
    <span class="nav-text">Graph</span>
  </div>
  <div class="nav-icons">
    <fa-icon [icon]="faIcons.faChartPie"></fa-icon>
    <span class="nav-text">Metrics</span>
  </div>
  <div class="nav-icons">
    <fa-icon [icon]="faIcons.faEnvelope"></fa-icon>
    <span class="nav-text">Mail</span>
  </div>
  <div class="nav-icons">
    <fa-icon [icon]="faIcons.faCubes"></fa-icon>
    <span class="nav-text">Widgets</span>
  </div>
  <div class="nav-icons">
    <fa-icon [icon]="faIcons.faDiceD20"></fa-icon>
    <span class="nav-text">Forms</span>
  </div>
  <div class="nav-icons">
    <fa-icon [icon]="faIcons.faDesktop"></fa-icon>
    <span class="nav-text">Devices</span>
  </div>
  <div class="nav-icons">
    <fa-icon [icon]="faIcons.faGlobe"></fa-icon>
    <span class="nav-text">Connections</span>
  </div>
  <div class="nav-icons">
    <fa-icon [icon]="faIcons.faKeyboard"></fa-icon>
    <span class="nav-text">Virtual Keyboard</span>
  </div>
  <div class="nav-icons">
    <fa-icon [icon]="faIcons.faLaptop"></fa-icon>
    <span class="nav-text">Applications</span>
  </div>
  <div class="nav-icons">
    <fa-icon [icon]="faIcons.faCog"></fa-icon>
    <span class="nav-text">Settings</span>
  </div>
</div>
