<div class="header">
  <div class="wrapper">
    <div class="logo">
      <div class="nav-toggle">
        <fa-icon [icon]="faIcons.faBars"></fa-icon>
      </div>
      <a>Insight</a>
    </div>
    <nav>
      <div class="nav-icon">
        <div class="icon">
          <fa-icon [icon]="faIcons.faEnvelope"> </fa-icon>
        </div>
        <div class="nav-label inbox">{{ unReadCount }}</div>
      </div>
      <div class="nav-icon">
        <div class="icon">
          <fa-icon [icon]="faIcons.faBell"> </fa-icon>
        </div>
        <div class="nav-label notification">10</div>
      </div>
      <div class="nav-icon" id="logout" (click)="onLogOut()">
        <div class="icon log-out">
          <fa-icon [icon]="faIcons.faShareSquare"></fa-icon>
        </div>
        <div class="log-text">Log Out</div>
      </div>
    </nav>
  </div>
</div>
