header{
    background: #00A89D;
    width: 100%;
    margin: 0 auto;
    padding: 1% ;
  }
  .wrapper{
    width: 90%;
    margin: 0 auto;
    padding: 0 5%;
  }
  .logo{
    float: left;
    padding: 0 1%;
    width: 5%;;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
  }
  .logo a{
    text-decoration: none;
    color: white;
  }
  nav {
    float: right;
    width: 30%;
    text-align: center;
    margin: 2px auto;
  }
  nav div{
    display: inline-block;
    padding: 0 2%;
  }
  nav a {
    padding: 11px 10px;
    text-decoration: none;
    color: white;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
  }
  nav a:hover {
    opacity: .8;
  }
  header::after{
    clear: both;
    content: '';
    display: block;
  }
  .loading{
    text-align: center;
  }