.header {
  height: 70px;
  padding: 10px 1%;
  background: white;

  .wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 5px 0;
    padding: 10px 0;

    .logo {
      margin-left: 0px;
      text-align: center;
      font-weight: bolder;
      font-size: 25px;

      a {
        text-decoration: none;
      }
    }

    nav {
      display: flex;
      flex-flow: row nowrap;

      .nav-icon {
        position: relative;
        display: flex;
        flex-direction: row;
        margin: 0 20px;
        cursor: pointer;

        .log-out {
          margin: 0 5px;
        }

        .nav-label {
          position: absolute;
          border: 1px solid black;
          border-radius: 50%;
          margin: 0;
          top: -4px;
          right: -10px;
          width: 15px;
          height: 15px;
          font-size: 10px;
          text-align: center;
          font-weight: bold;

          &.inbox {
            background: #e28d44;
            border-color: #e28d44;
            color: white;
          }

          &.notification {
            background: #00A89D;
            border-color: #00A89D;
            color: white;
          }
        }
      }

      fa-icon {
        font-size: 20px;
      }
    }

  }
}
