<div class="header">
  <div class="wrapper">
    <div class="logo">
      <a>Insight</a>
    </div>
    <nav>
      <div class="nav-icon">
        <fa-icon [icon]="faIcons.faEnvelope"> </fa-icon>
        <div class="nav-label inbox">10</div>
      </div>
      <div class="nav-icon">
        <fa-icon [icon]="faIcons.faBell"> </fa-icon>
        <div class="nav-label notification">10</div>
      </div>
      <div class="nav-icon" (click)="onLogOut()">
        <span>
          <fa-icon [icon]="faIcons.faShareSquare"></fa-icon>
        </span>
        <a>Log Out</a>
      </div>
    </nav>
  </div>
</div>
