.header {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 1%;

  .wrapper {

    .logo {
      float: left;
      padding: 0 1%;
      width: 5%;
      ;
      text-align: center;
      font-weight: bolder;
      font-size: 25px;

      a {
        text-decoration: none;
      }
    }

    nav {
      float: right;
      width: 30%;
      text-align: right;

      .nav-icon {
        fa-icon {
          position: relative;
        }

        .nav-label {
          position: absolute;
          border: 1px solid black;
          border-radius: 50%;
          margin: 0;
          top: 13px;
          width: 15px;
          height: 15px;
          font-size: 10px;
          text-align: center;
          font-weight: bold;

          &.inbox {
            background: #e28d44;
            border-color: #e28d44;
            color: white;
          }
          &.notification {
            background: #00A89D;
            border-color: #00A89D;
            color:white;
          }
        }
      }

      fa-icon {
        font-size: 20px;
      }

      div {
        display: inline-block;
        margin: 0 30px;
        cursor: pointer;

        a {
          padding: 0 5px;
          text-decoration: none;
          margin: 0 5px;
          border-radius: 5px;
          font-size: 15px;
        }
      }
    }

  }
}

.header::after {
  clear: both;
  content: '';
  display: block;
}
