<div class="body-container">
  <div class="login-container">
    <div class="form" [formGroup]="loginForm">
      <div class="title">
        <h1>Sign In</h1>
      </div>
      <div class="email-input">
        <input
          type="text"
          formControlName="email"
          placeholder="Email or User Name"
        />
      </div>
      <div class="pwd-input">
        <input type="Password" formControlName="pwd" placeholder="password" />
      </div>
      <div class="submit">
        <button (click)="onLogin()">Login</button>
      </div>
    </div>
    <div class="error-msg">{{ errorMessage }}</div>
    <div class="signup-link">
      <div class="signup-txt">
        Don't have an account ?
        <span class="back-link" routerLink="/u/signup">SignUp</span>
      </div>
    </div>
  </div>
</div>
